In [19]:
import pandas as pd
import numpy as np

In [47]:
# readinag txt file and creating dataframe

dataframe1 = pd.read_csv("nlp_ht.txt",sep='\t')
  
# storing this dataframe in a csv file
dataframe1.to_csv('ht_comp.csv', 
                  index = None)


data = pd.read_csv("off_comp.csv")

In [48]:
#add columns to the dataframe

data.columns=['index' , 'tweet', 'OFF', 'HS', 'VLG' , 'VIO']
data.columns

Index(['index', 'tweet', 'OFF', 'HS', 'VLG', 'VIO'], dtype='object')

In [49]:
data.head()

,index,tweet,OFF,HS,VLG,VIO
0,2,وصارت فطاير البقالات غذاء صحي 👎🏻 URL,NOT_OFF,NOT_HS,NOT_VLG,NOT_VIO
1,3,@USER روحي لبريده تلقين اشباه كثير بس ماحد زيك...,OFF,NOT_HS,NOT_VLG,NOT_VIO
2,4,@USER مش باين حاجه خالص 😣<LF>مش عارف بقى 😔,NOT_OFF,NOT_HS,NOT_VLG,NOT_VIO
3,5,#اليوم_الاثنين<LF><LF>👏 يقولك :%90 من المسلمي...,NOT_OFF,NOT_HS,NOT_VLG,NOT_VIO
4,6,حمدلله ماحطها في فمي اساسا😷🤢 URL,NOT_OFF,NOT_HS,NOT_VLG,NOT_VIO

In [50]:
#drop useless columns
data.drop('index' ,axis= 1 ,inplace= True)
data.head()

,tweet,OFF,HS,VLG,VIO
0,وصارت فطاير البقالات غذاء صحي 👎🏻 URL,NOT_OFF,NOT_HS,NOT_VLG,NOT_VIO
1,@USER روحي لبريده تلقين اشباه كثير بس ماحد زيك...,OFF,NOT_HS,NOT_VLG,NOT_VIO
2,@USER مش باين حاجه خالص 😣<LF>مش عارف بقى 😔,NOT_OFF,NOT_HS,NOT_VLG,NOT_VIO
3,#اليوم_الاثنين<LF><LF>👏 يقولك :%90 من المسلمي...,NOT_OFF,NOT_HS,NOT_VLG,NOT_VIO
4,حمدلله ماحطها في فمي اساسا😷🤢 URL,NOT_OFF,NOT_HS,NOT_VLG,NOT_VIO

In [51]:
#for data cleaning
data.dtypes

tweet    object
OFF      object
HS       object
VLG      object
VIO      object
dtype: object

In [75]:
data.OFF.unique()

array([0, 1], dtype=object)

In [57]:
data["OFF"].replace({"OFF": 1, "NOT_OFF": 0}, inplace=True)

In [69]:
data.head()

,tweet,OFF,HS,VLG,VIO
0,وصارت فطاير البقالات غذاء صحي 👎🏻 URL,0,NOT_HS,NOT_VLG,NOT_VIO
1,@USER روحي لبريده تلقين اشباه كثير بس ماحد زيك...,1,NOT_HS,NOT_VLG,NOT_VIO
2,@USER مش باين حاجه خالص 😣<LF>مش عارف بقى 😔,0,NOT_HS,NOT_VLG,NOT_VIO
3,#اليوم_الاثنين<LF><LF>👏 يقولك :%90 من المسلمي...,0,NOT_HS,NOT_VLG,NOT_VIO
4,حمدلله ماحطها في فمي اساسا😷🤢 URL,0,NOT_HS,NOT_VLG,NOT_VIO

In [60]:
#check nulls
data.isna().sum()

tweet    134
OFF      135
HS       135
VLG      135
VIO      136
dtype: int64

In [61]:
len(data)

8691

In [62]:
data.dropna(inplace=True)

In [63]:
len(data)

8555

In [80]:
data.to_csv('HT3.csv',index=False)

In [76]:
data.HS.unique()

array(['NOT_HS', 'HS2', 'HS1', 'HS3', 'HS6', 'HS5'], dtype=object)

In [78]:
ht = pd.get_dummies(data.HS, prefix='HS')
ht.head()

   HS_HS1  HS_HS2  HS_HS3  HS_HS5  HS_HS6  HS_NOT_HS
0       0       0       0       0       0          1
1       0       0       0       0       0          1
2       0       0       0       0       0          1
3       0       0       0       0       0          1
4       0       0       0       0       0          1

In [79]:
data=pd.concat([data, ht], axis=1)
data.head()

,tweet,OFF,HS,VLG,VIO,HS_HS1,HS_HS2,HS_HS3,HS_HS5,HS_HS6,HS_NOT_HS
0,وصارت فطاير البقالات غذاء صحي 👎🏻 URL,0,NOT_HS,NOT_VLG,NOT_VIO,0,0,0,0,0,1
1,@USER روحي لبريده تلقين اشباه كثير بس ماحد زيك...,1,NOT_HS,NOT_VLG,NOT_VIO,0,0,0,0,0,1
2,@USER مش باين حاجه خالص 😣<LF>مش عارف بقى 😔,0,NOT_HS,NOT_VLG,NOT_VIO,0,0,0,0,0,1
3,#اليوم_الاثنين<LF><LF>👏 يقولك :%90 من المسلمي...,0,NOT_HS,NOT_VLG,NOT_VIO,0,0,0,0,0,1
4,حمدلله ماحطها في فمي اساسا😷🤢 URL,0,NOT_HS,NOT_VLG,NOT_VIO,0,0,0,0,0,1

In [82]:
data.VLG.unique(),data.VIO.unique()

(array(['NOT_VLG', 'VLG'], dtype=object),
 array(['NOT_VIO', 'VIO'], dtype=object))

In [83]:
data["VLG"].replace({"VLG": 1, "NOT_VLG": 0}, inplace=True)
data["VIO"].replace({"VIO": 1, "NOT_VIO": 0}, inplace=True)
data.head()

,tweet,OFF,HS,VLG,VIO,HS_HS1,HS_HS2,HS_HS3,HS_HS5,HS_HS6,HS_NOT_HS
0,وصارت فطاير البقالات غذاء صحي 👎🏻 URL,0,NOT_HS,0,0,0,0,0,0,0,1
1,@USER روحي لبريده تلقين اشباه كثير بس ماحد زيك...,1,NOT_HS,0,0,0,0,0,0,0,1
2,@USER مش باين حاجه خالص 😣<LF>مش عارف بقى 😔,0,NOT_HS,0,0,0,0,0,0,0,1
3,#اليوم_الاثنين<LF><LF>👏 يقولك :%90 من المسلمي...,0,NOT_HS,0,0,0,0,0,0,0,1
4,حمدلله ماحطها في فمي اساسا😷🤢 URL,0,NOT_HS,0,0,0,0,0,0,0,1

In [84]:
data.dtypes

tweet        object
OFF          object
HS           object
VLG           int64
VIO           int64
HS_HS1        uint8
HS_HS2        uint8
HS_HS3        uint8
HS_HS5        uint8
HS_HS6        uint8
HS_NOT_HS     uint8
dtype: object

In [86]:
data.OFF.unique()

array([0, 1], dtype=object)

In [87]:
data.to_csv('HT4.csv',index=False)

In [2]:
data = pd.read_csv('HT4.csv')
data.head()

,tweet,OFF,HS,VLG,VIO,HS_HS1,HS_HS2,HS_HS3,HS_HS5,HS_HS6,HS_NOT_HS
0,وصارت فطاير البقالات غذاء صحي 👎🏻 URL,0,NOT_HS,0,0,0,0,0,0,0,1
1,@USER روحي لبريده تلقين اشباه كثير بس ماحد زيك...,1,NOT_HS,0,0,0,0,0,0,0,1
2,@USER مش باين حاجه خالص 😣<LF>مش عارف بقى 😔,0,NOT_HS,0,0,0,0,0,0,0,1
3,#اليوم_الاثنين<LF><LF>👏 يقولك :%90 من المسلمي...,0,NOT_HS,0,0,0,0,0,0,0,1
4,حمدلله ماحطها في فمي اساسا😷🤢 URL,0,NOT_HS,0,0,0,0,0,0,0,1

In [4]:
data.dtypes

tweet        object
OFF           int64
HS           object
VLG           int64
VIO           int64
HS_HS1        int64
HS_HS2        int64
HS_HS3        int64
HS_HS5        int64
HS_HS6        int64
HS_NOT_HS     int64
dtype: object

In [16]:
import emoji
import nltk

In [20]:
tweets = np.array(data.tweet)
tweets.shape

(8555,)

In [39]:
tweets[0]

'وصارت فطاير البقالات غذاء صحي 👎🏻 URL'

In [40]:
tweets_no_imo = []
for i in tweets:
    tweets_no_imo.append(emoji.demojize(i, delimiters=("", "")))
tweets_no_imo[0]

'وصارت فطاير البقالات غذاء صحي thumbs_down_light_skin_tone URL'

In [41]:
# toknize words
tokens = [] 
for i in tweets: 
    toks= nltk.word_tokenize(i)
#     toks=emoji.demojize(toks, delimiters=("", ""))
    tokens.append(toks)
tokens[0]

['وصارت', 'فطاير', 'البقالات', 'غذاء', 'صحي', '👎🏻', 'URL']

In [43]:
data.OFF[0],data.HS_NOT_HS[0]

(0, 1)

In [29]:
# replace emojies with meaning words

In [ ]:
# replace puncts

In [ ]:
# padding

In [89]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
import numpy as np

In [90]:
model = SVC()

x= np.array(data.tweet)
y= np.array(data.OFF)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)